.navbar-brand img{
    margin-left: 0;
    height: 3.2rem;
    -webkit-filter: drop-shadow(0 1px 1px #999);
    filter: drop-shadow(0 1px 1px #999);
    position: relative;
    z-index: 1;
}
.navbar-brand > a,h1{
    display: inline-block;
    font-size: inherit;
}
.header-container{
  border-bottom-color: rgb(213,213,213);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  z-index: 1;
  box-shadow: 0 2px rgb(210,210,210)
}